.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: 'Verdana';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Verdana.ttf) format('truetype');
}

@font-face {
    font-family: 'Verdana';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Verdana-Bold.ttf) format('truetype');
}

.container_outer {
    width: 1366px;
    background-image: url(../img/background.png);
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #423502;
    margin: 0 auto;
}

.container_inner {
    width: 1066px;
    margin: 0 auto;
}

.header {
    color: #fff;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    padding-top: 45px;
    padding-bottom: 45px;
}

.header-column-left {
    width: 50%;
    text-align: left;
}

.header-column-left-logo {
    width: 46px;
    height: 44px;
    background-image: url(../img/logo_arrow-css_sprites.png);
    background-position: -10px -10px;
    float: left;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.header-column-left-logo:hover {
    background-position: -76px -10px;
    color: #f26522;
}

.header-milan {
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;
    padding-left: 55px;
}

.header-holidays {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 55px;
}

.header-column-right {
    width: 50%;
    text-align: right;
}

.header-column-right-email {
    display: inline-block;
    color: #fff;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 5px;
}

.header-column-right-email:hover {
    color: #f26522;
}

.section-flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.section-menu-tours {
    display: inline-block;
    margin-bottom: 55px;
    position: relative;
}

.section-menu-tours:not(:nth-child(3n)) {
    margin-right: 65px;
}

.section-menu-tours__link {
    color: #fff;
    text-decoration: none;
}

.section-menu-tours:hover .section-menu-tours__view-details {
    background-color: #f26522;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transition: transform 0.3s linear 0s;
    -webkit-transition: transform 0.3s linear 0s;
    transition: transform 0.3s linear 0s;
    opacity: 1;
}

.section-menu-tours:hover .section-menu-tours__link {
    color: #f26522;
}

.section-menu-tours__name {
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

}

.section-menu-tours__img {
    max-width: 100%;
    margin-bottom: 20px;
}

.section-menu-tours__img-border {
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #fff 0%, transparent 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #fff 0%, transparent 100%);
    /*border-image: linear-gradient(to bottombottom, #fff 0%, transparent 100%);*/
    border-image-slice: 1;
}

.section-menu-tours__view-details {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #f26522;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 63px;
    bottom: 42px;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    opacity: 0;
    -moz-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -moz-transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: all 0.3s linear 0s;
}

.section-menu-toors__view-details-container {
    width: calc(100% - 40px);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.section-menu-toors__view-details-left-column {
    text-align: left;
}

.section-menu-tours__view-details-right-column {
    text-align: right;
}

.section-menu-toors__view-details-from {
    font-size: 10px;
}

.section-menu-tours__view-details-euro {
    font-size: 20px;
}

.section_menu-tours__view-details-text {
    font-size: 14px;
    margin-right: 15px;
}

.section_menu-tours__view-details-arrow {
    display: inline-block;
    width: 7px;
    height: 10px;
    background-image: url(../img/logo_arrow-css_sprites.png);
    background-position: -10px -74px;
}

.footer {
    color: #fff;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 20px;
}
